{% extends "gsorcerer/layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<!-- Title -->
<div class="row d-flex flex-column justify-content-center align-items-center h-100">
    <div class="col-12">
        <h1 class="text-center">Welcome to Gsorcerer</h1>
    </div>
    <div class="col-12">
        <p class="sub-text text-center">
            Gsorcerer is a platform that allows you to search for open source projects that are looking for
            contributors.
        </p>
    </div>
    <div class="col-6">
        <form class="form-inline d-flex justify-content-center">
            <input class="form-control  mr-sm-2 w-80" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
    </div>
    <!-- {% for organization in organizations %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ organization.logo_url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{organization.name}}</h5>
          <p class="card-text">{{organization.description}}</p>
          <a href="{{organization.source_code}}" class="btn btn-primary">Source Code</a>
        </div>
    </div>
    {% endfor %} -->
</div>
{% endblock %}