{% extends "gsorcerer/layout.html" %}
{% load static %}
{% block title %}
{{ organization.slug }}
{% endblock %}

{% block body %}
<!-- Title -->
<div class="row m-5 card-header card-header-animate">
    <div class="col-4 d-flex justify-content-center align-items-center">
        <img src="{{ organization.logo_url }}" class="card-img-top" alt="Organization Logo">
    </div>
    <div class="col-8 p-5">
        <div class="org-title">
            <h3>{{ organization.name }} ({{ organization.tagline }})</h3>
            <p>{{ organization.description }}</p>
        </div>
    </div>
</div>
<div class="row m-5 p-5 card-header">
    <div class="col-12">
        <form class="d-flex w-100">
            <input class="form-control  mr-sm-2 w-100" id="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="col-12 issues mt-4">
        {% for issue in issues %}
            <div class="issue px-5 py-3 my-3">
                <h5>{{ issue.title }} ({{ issue.repository.name }})</h5>
                <div class="issue-tags">
                    {% for label in issue.labels %}
                    <span class="badge badge-pill badge-dark px-3 py-2 label">{{label.name}}</span>
                    {% endfor %}
                </div>
                <a class="btn btn-outline-success my-2 my-sm-0" href="#">View Issue</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'gsorcerer/organization.js' %}"></script>
{% endblock %}
